In [ ]:
"""1. WAP to create the list perform below operaions on it
	1. print all elements from list by traversing 
	2. get maximum from list
	3. get minimum from list
	4. reverse the list
	5. get sum of all the elements from list
	6. get average of all elements from list
	7. sort the list
	8. remove duplicates
	9. check if list is empty or not
	10. clone or copy the list
	11. add new elements (append and extend)
	12. remove elements
	13. update elements
	14. retrieve element from 3rd and 5th position
	15. create another list and compare with list created for earlier questions
	16. shuffle the list and print all elements
	17. print element and index of that element
	18. concat two lists
	19. convert list t array (without using Numpy)
	20. get unique elements from list
	21. pop first element from list
	22. get index of the 1st matching element
	23. remove all elements from a list
	24. check whether list containf specific element or not
	25. check whther element is member of list of not
	26. get lenght of list
	27. insert element in sorted list and maintain order
	28. access last three elements using slice operation"""

In [128]:
a = [1,2,33,43,54,62,7,8,1,2]

for i in a:
    print(i, end= " ")

1 2 33 43 54 62 7 8 1 2

In [14]:
print(max(a))

62

In [15]:
print(min(a))

1

In [16]:
print(sum(a))

213

In [17]:
print(sum(a)/len(a))

21.3

In [9]:
a.sort()
print(a)

[1, 2, 7, 8, 33, 43, 54, 62]

In [12]:
dupList = set(a)
print(list(dupList))

[1, 2, 33, 7, 8, 43, 54, 62]

In [20]:
if len(a) != 0:
    print("not empty")
else:
    print("empty")

not empty

In [21]:
cloneList = list(a)
cloneList1 = a[:]
print(cloneList)
print(cloneList1)

[1, 1, 2, 2, 7, 8, 33, 43, 54, 62]
[1, 1, 2, 2, 7, 8, 33, 43, 54, 62]

In [44]:
a.append(100)
print(a)
print(cloneList1)
cloneList1.extend([100])
print(cloneList1)

[1, 1, 2, 2, 7, 8, 33, 43, 54, 62, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]
[1, 1, 2, 2, 7, 8, 33, 43, 54, 62, 100, 100, 100, 100, 100, 100]
[1, 1, 2, 2, 7, 8, 33, 43, 54, 62, 100, 100, 100, 100, 100, 100, 100]

In [56]:
a.remove(100)
print(a)

[1, 1, 2, 2, 7, 8, 33, 43, 54, 62]

In [67]:
for i in range(len(a)):
    if a[i] == 62:
        a[i] = 50
print(a)

[1, 1, 2, 2, 7, 8, 33, 43, 54, 50]

In [69]:
print(a[2])
print(a[4])

2
7

In [75]:
if a == cloneList:
    print("equal")
else:
    print("not equal")

not equal

In [76]:
import random
random.shuffle(a)
print(a)

[54, 1, 7, 50, 2, 33, 8, 43, 2, 1]

In [77]:
for i in range(len(a)):
    print( i , a[i])

0 54
1 1
2 7
3 50
4 2
5 33
6 8
7 43
8 2
9 1

In [80]:
print(a+a)

[54, 1, 7, 50, 2, 33, 8, 43, 2, 1, 54, 1, 7, 50, 2, 33, 8, 43, 2, 1]

In [82]:
from array import *

print(array('i',a))

array('i', [54, 1, 7, 50, 2, 33, 8, 43, 2, 1])

In [84]:
print(a)
a.pop(0)
print(a)

[1, 7, 50, 2, 33, 8, 43, 2, 1]
[7, 50, 2, 33, 8, 43, 2, 1]

In [101]:
print(a[-3:])

[43, 2, 1]

In [102]:
import bisect
test_list = [1, 2, 3, 6, 7]
print ("The original list is : " + str(test_list))
k = 5
bisect.insort(test_list, k) 
print ("The list after insertion is : " +  str(test_list))

The original list is : [1, 2, 3, 6, 7]
The list after insertion is : [1, 2, 3, 5, 6, 7]

In [ ]:
"""2. create two losts and perform below operations 
	1. concatination
	2. repetations
	"""

In [119]:

print(a+cloneList)

[1, 1, 2, 2, 7, 8, 33, 43, 54, 62, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]

In [122]:
rep = [1,2,3,4,5]*2
print(rep)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [123]:
"""
3. WAP to retriev elemnts from random index

"""

In [136]:
import random
l = len(a)
print(l)
print(a)
ranIndex = random.randint(0,len(a)-1)
print(a[ranIndex])

10
[1, 2, 33, 43, 54, 62, 7, 8, 1, 2]
8

In [ ]:
"""
4. WAP to generate all permutations of a list
"""

In [1]:
from itertools import permutations

permute = permutations([1,2,3])
for i in list(permute):
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [ ]:
"""
5. WAP to get difference between two lists
"""

In [2]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

In [ ]:
"""6. WAP to convert the list of string to chars
"""

In [14]:
myStr = "Kunal Agrawal"
li = list(myStr.split(" "))
print(list(myStr))
li1, li2 = li[0], li[1]
print(list(li1+li2))

['K', 'u', 'n', 'a', 'l', ' ', 'A', 'g', 'r', 'a', 'w', 'a', 'l']
['K', 'u', 'n', 'a', 'l', 'A', 'g', 'r', 'a', 'w', 'a', 'l']

In [ ]:
"""
7. WAP to convert Shallow list => a list of lists => [[a,b,c],[d,e,f],[g,h,l]] to flat list [a,b,c,d,e,f,g,h,l]

"""

In [21]:
myList =  [['a','b','c'],['d','e','f'],['g','h','l']]
mainList = []
for subList in myList:
    for char in subList:
        mainList.append(char)
print(mainList)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'l']

In [ ]:
"""
8. WAP check whether two lists are circularly identical

"""

In [ ]:
"""
9. WAP to get second smallest number from list
"""

In [26]:
 numbers = [1,2,3,4,5,5]
 m1 = m2 = float('inf')
for x in numbers:
    if x <= m1:
        m1, m2 = x, m1
    elif x < m2:
         m2 = x
print(m2)

numbers.sort()
print(numbers[1])

2
2

In [ ]:
"""
10 WAP iterate over more than two lists at the same time
"""

In [27]:
from itertools import chain
test_list1 = [4, 5, 3, 6, 2]
test_list2 = [7, 9, 10, 0]
test_list3 = [1, 2, 30, 40]
print("The paired list contents are : ")
for ele in chain(test_list1, test_list2, test_list3):
    print(ele, end =" ")

The paired list contents are :
4 5 3 6 2 7 9 10 0 1 2 30 40

In [ ]:
"""
11.WAP to find whether given string is a palindrome without using reversed() inbuilt function

"""

In [10]:
numb = 111
temp = numb
sum =0
while(numb > 0):
    digit = numb % 10
    sum = sum*10 + digit
    numb = numb // 10
if sum == temp:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [ ]:
"""
12. Create a tuple and convert it to list
"""

In [11]:
tup = (1,2,3,4,5,6)
conList = list(tup)
print(conList)

[1, 2, 3, 4, 5, 6]

In [ ]:
"""
13. WAP to append sequence to list
"""

In [14]:
conList.append("abc")
print(conList)

[1, 2, 3, 4, 5, 6, ['abc', 'bcd'], 'abc']

In [ ]:
"""
14. List and explain the time complexities of below operations on list

	Copy
	Append[1]
	Pop last
	Pop intermediate
	Insert
	Get Item
	Set Item
	Delete Item
	Iteration
	Get Slice
	Del Slice
	Set Slice
	Extend[1]
	Sort
	min(s), max(s)
	Get Length

In [ ]:
"""Lists:
                               Complexity
Operation     | Example      | Class         | Notes
--------------+--------------+---------------+-------------------------------
Index         | l[i]         | O(1)	     |
Store         | l[i] = 0     | O(1)	     |
Length        | len(l)       | O(1)	     |
Append        | l.append(5)  | O(1)	     | mostly: ICS-46 covers details
Pop	      | l.pop()      | O(1)	     | same as l.pop(-1), popping at end
Clear         | l.clear()    | O(1)	     | similar to l = []

Slice         | l[a:b]       | O(b-a)	     | l[1:5]:O(l)/l[:]:O(len(l)-0)=O(N)
Extend        | l.extend(...)| O(len(...))   | depends only on len of extension
Construction  | list(...)    | O(len(...))   | depends on length of ... iterable

check ==, !=  | l1 == l2     | O(N)          |
Insert        | l[a:b] = ... | O(N)	     | 
Delete        | del l[i]     | O(N)	     | depends on i; O(N) in worst case
Containment   | x in/not in l| O(N)	     | linearly searches list 
Copy          | l.copy()     | O(N)	     | Same as l[:] which is O(N)
Remove        | l.remove(...)| O(N)	     | 
Pop	      | l.pop(i)     | O(N)	     | O(N-i): l.pop(0):O(N) (see above)
Extreme value | min(l)/max(l)| O(N)	     | linearly searches list for value
Reverse	      | l.reverse()  | O(N)	     |
Iteration     | for v in l:  | O(N)          | Worst: no return/break in loop

Sort          | l.sort()     | O(N Log N)    | key/reverse mostly doesn't change
Multiply      | k*l          | O(k N)        | 5*l is O(N): len(l)*l is O(N**2)

Tuples support all operations that do not mutate the data structure (and they
have the same complexity classes).

"""

In [ ]:
"""
15. WAP to make all strings from a given list equal by replacing minimum number of characters.
"""

In [ ]:
"""16. Given two list of Holes and Balls consisting of N and M integers respectively, denoting the diameter of holes and balls respectively. M number of balls are made to roll from A to B on a sloping surface with N holes, each having different depth.
The task is to find the eventual position of each ball in the order of the ball released considering the following:
	- A ball will fall into a hole if its diameter is less than or equal to the diameter of the hole.
	- A hole Hi will become full if i numbers of balls fall into it.
	- If a hole is full, then no more balls fall into it.
	- A ball will reach B from A, if and only if it is not falling into any one of the holes.
	- If a ball is in hole Pi, then its position is i. If a ball reached the bottom point B, then take its position as 0.
	
Explanation:
	Ball of diameter 20 will fall into the hole H1 and the hole H1 will become full.
	Balls with diameter 15, 7 and 10 will reach bottom, since the hole H1 is full and diameters of holes H2 and H3 are less than the diameters of the balls.
	Balls with diameters 5, 4 and 2 will fall into the hole H3.
	Ball with diameter 1 will fall into the hole H2 since the hole H3 is already full.
	Ball with diameter 3 will fall into hole H2.
	Balls with diameters 6, and 8 will reach the bottom point B.
	The position of ball 20 is 1 because it is in hole H1.
	Positions of ball 15, 7, 10, 3, 6, and 8 are 0 because they reached the bottom point B.
	Therefore, the balls with diameter 5, 4 and 2 are in the 3rd hole H3, the ball with diameter 1 and 3 are in the 2nd hole H2.
	
	Input: H[] = {20, 15, 10, 5, 25}, B[] = {5, 10, 15, 20, 25, 30, 4, 9, 14, 19}
	Output: 5 5 5 5 5 0 4 3 2 1
"""

In [1]:
def find(h,b):
    m=len(h)
    n=len(b)
    possible=[i for i in range(1,m+1)]
    retval=[0]*n
    for ind,i in enumerate(b):
        for j in range(m-1,-1,-1):
            if(possible[j] and i<=h[j]):
                possible[j]-=1
                retval[ind]=j+1
                break
    return retval

print(find([20, 15, 10, 5, 25],[5, 10, 15, 20, 25, 30, 4, 9, 14, 19]))

[5, 5, 5, 5, 5, 0, 4, 3, 2, 1]

In [ ]:
"""
17.WAP to extract elements with Frequency greater than K
"""

In [20]:
# method 1
test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
res = []
k = 2 
for i in test_list:
    freq = test_list.count(i)
    if freq > k and i not in res:
        res.append(i)
print(res)

# method 2
from collections import Counter

rest = [ele for ele, cnt in Counter(test_list).items() if cnt > k]
print(rest)

[4, 3]
[4, 3]

In [ ]:
"""
18. WAP to extract elements with equal frequency as value
Input : test_list = [4, 3, 2, 2, 3, 4, 1, 3, 2, 4, 4] 
Output : [1, 3, 4] 
Explanation : All elements occur equal times as their value.
"""

In [24]:
 
print("The original list is : " + str(test_list))
freq = list(set([ele for ele in test_list if test_list.count(ele) == ele]))
print("Filtered elements : " + str(freq))

The original list is : [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
Filtered elements : [3]

In [ ]:
"""
19. Create the nested list and extract elements of same index
"""

In [12]:
def find2(l,ind):
    n=len(l)
    for i in range(n):
        print(l[i][ind])
find2([[1,2,3],[1,2,3],[1,2,3]],1)

2
2
2

In [ ]:
"""
20.WAP to update the elements from list who are greater than n (ex. elements greater than 10)
"""

In [36]:
n = 3
up = []
myList1 = [1,3,5,7,9]
for x in myList1:
    if x > n:
        up.append(x)
print(up)
for i in range(len(up)):
    up[i]=up[i]*2
print(up)

[5, 7, 9]
[10, 14, 18]

In [ ]:
"""
21. WAP to print True if any value in a list is divisible by 2, use "any" function 
"""

In [37]:

print(any([element for element in myList1 if element % 2 == 0]))

False

In [ ]:
"""
22.WAP to print True if all values in a list are negative, use "all" function
"""

In [51]:
negList = [-1,-2,-3,-4,-5]
print(all([elet for elet in negList if elet < 0]))

True

In [ ]:
"""
23. What is diffrence between reverse and reversed
"""

In [ ]:
"""
 reverse() method reverses the elements of the list.

The syntax of the reverse() method is:
list.reverse()

reverse() parameter
The reverse() method doesn't take any arguments.

Return Value from reverse()
The reverse() method doesn't return any value. It updates the existing list.


The reversed() function returns the reversed iterator of the given sequence.
The syntax of reversed() is:

reversed(seq)
reversed() Parameters
The reversed() function takes a single parameter:

seq - the sequence to be reversed
A sequence is an object that supports sequence protocols: __len__() and __getitem__() methods. For example, tuple, string, list, range, etc.

We can also use reversed() in any object that implements __reverse__().

Return value from reversed()

The reversed() function returns an iterator that accesses the given sequence in the reverse order.

In [ ]:
"""
24. Is it pssible to sort an list of int having None in it. What will happen if we try to perform any operation on such lists.
"""

In [ ]:
"""
no it is not possible to have a sort list of int having none of sorting have a comparator and comaparator cannot sort none value it will show error.

In [ ]:
"""
25. Implement stack and queue using list

"""

In [52]:
stack = ["A", "B", "C"]
stack.append("D")
stack.append("E")
print(stack)
print(stack.pop())
print(stack)
print(stack.pop())
print(stack)

['A', 'B', 'C', 'D', 'E']
E
['A', 'B', 'C', 'D']
D
['A', 'B', 'C']

In [53]:
from collections import deque
queue = deque(["A", "B", "C", "D"])
print(queue)
queue.append("E")
print(queue)
queue.append("F")
print(queue)
print(queue.popleft())                 
print(queue.popleft())                 
print(queue)

deque(['A', 'B', 'C', 'D'])
deque(['A', 'B', 'C', 'D', 'E'])
deque(['A', 'B', 'C', 'D', 'E', 'F'])
A
B
deque(['C', 'D', 'E', 'F'])

In [ ]:
"""
26. Reverse the list using slice.
"""

In [58]:
print(myList1)
print(myList1[::-1])

[1, 3, 5, 7, 9]
[9, 7, 5, 3, 1]

In [ ]:
"""
27. Create tuple and perform below operations on it
	1. get size of tuple using getsizefo() and __sizeof__()
	2. access tuple using index and slice operations 
	3. get length of tuple 
	4. ge tcount of element 
	5. sort the tuple in natural order
	6. fin min and max from tuple 
	7. check if given element exist in the tuple or not
    """

In [11]:
import sys
tupe = (1,2,3,4,5,6)
print(sys.getsizeof(tupe))
print(tupe.__sizeof__())

for i in tupe:
    print(i)
print(tupe[:])

print(tupe.count(1))
print(sorted(tupe))

print(max(tupe))
print(min(tupe))
find = 1
print([ele for ele in tupe if ele == find])

52
36
1
2
3
4
5
6
(1, 2, 3, 4, 5, 6)
1
[1, 2, 3, 4, 5, 6]
6
1
[1]

In [ ]:
"""
28. concatinate two tuples and create third 
"""

In [12]:
tup1 = (1,2,3,4,5,6)
tup2 = (7,8,9)
tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
"""
29. perform repetation operation on tuple
"""

In [13]:
from itertools import repeat
test_tup = (1, 3)
print("The original tuple : " + str(test_tup))
N = 4
res = tuple(repeat(test_tup, N))
print("The duplicated tuple elements are : " + str(res))

The original tuple : (1, 3)
The duplicated tuple elements are : ((1, 3), (1, 3), (1, 3), (1, 3))

In [ ]:
"""
30.Create two tuples and compare elements using cmp 
"""

In [14]:
a = 1 
b = 2 
print(cmp(a, b))  
a = 2
b = 2 
print(cmp(a, b))  
a = 3
b = 2 
print(cmp(a, b))

NameError: name 'cmp' is not defined

In [ ]:
"""
31.a= 10, b=20, c=30, d=40
	Perform packing and unpacking of above elements and print them
"""

In [16]:
def fun(a, b, c, d):
    print(a, b, c, d)
 
# Driver Code
my_list = [1, 2, 3, 4]
fun(*my_list)

def mySum(*args):
    return sum(args)
 
print(mySum(1, 2, 3, 4, 5))
print(mySum(10, 20))

1 2 3 4
15
30

In [ ]:
"""
32. What is difference between list and tuple
"""

In [ ]:
"""
Difference Between List and Tuple in Python:  

SR.NO.	LIST	                                                 TUPLE
1	Lists are mutable	                                   Tuples are immutable
2	Implication of iterations is Time-consuming	           The implication of iterations is comparatively Faster
3	The list is better for performing operations,
 such as insertion and deletion.	                       Tuple data type is appropriate for accessing the elements
4	Lists consume more memory	                           Tuple consume less memory as compared to the list
5	Lists have several built-in methods	                   Tuple does not have many built-in methods.
6	The unexpected changes and errors
 are more likely to occur	                               In tuple, it is hard to take place.

 """

In [ ]:
"""
33. What is internal representation of list and tuple 

https://www.geeksforgeeks.org/internal-working-of-list-in-python/
https://www.geeksforgeeks.org/tuples-in-python/

"""

In [ ]:
"""
34. Create list and convert it to tuple and viceversa
"""

In [18]:
convList = [1,2,3,4,5,6,7]
print(tuple(convList))
print(list(convList))

(1, 2, 3, 4, 5, 6, 7)
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
"""
35. convert list of lists to tuple of tuple 
"""

In [19]:
test_list = [['G', 'i', 'B'], ['G', 'i', 'l'],
                            ['G', 'i', 'f', 'G']]
  
print("The original list is : " + str(test_list))

res = tuple(tuple(sub) for sub in test_list)
print("The converted data : " + str(res))

The original list is : [['G', 'i', 'B'], ['G', 'i', 'l'], ['G', 'i', 'f', 'G']]
The converted data : (('G', 'i', 'B'), ('G', 'i', 'l'), ('G', 'i', 'f', 'G'))

In [ ]:
"""
36. WAP to create a tuple with different data types, print the element, address and type 
"""

In [22]:
tup = (1,'ABC',1.1)
print(tup)
for i in tup:
    print(i, id(i),type(i))

(1, 'ABC', 1.1)
1 1655490688 <class 'int'>
ABC 13240832 <class 'str'>
1.1 107696240 <class 'float'>

In [ ]:
"""
Create tuple and add element in it. As tuples are immutable, will it able to add new element in the tuple, provided the reason in both Yes and No cases.

"""

In [23]:
"""
Python tuple is an immutable object. Hence any operation that tries to modify it (like append) is not allowed. However, following workaround can be used.

First, convert tuple to list by built-in function list(). You can always append item to list object. Then use another built-in function tuple() to convert this list object back to tuple.
"""
T1=(10,50,20,9,40,25,60,30,1,56)
L1=list(T1)
print(L1)
L1.append(100)
T1=tuple(L1)
print(T1)

[10, 50, 20, 9, 40, 25, 60, 30, 1, 56]
(10, 50, 20, 9, 40, 25, 60, 30, 1, 56, 100)

In [ ]:
"""
38. Create tuple and remove element it. As tuples are immutable, will it able to add new element in the tuple, provided the reason in both Yes and No cases.
"""

In [24]:
"""
Tuples in python are immutable. If you want to remove items out of a Python tuple, you can use index slicing to leave out a particular index. For example,
"""

a = (1, 2, 3, 4, 5)
b = a[:2] + a[3:]
print(b)

(1, 2, 4, 5)

In [ ]:
"""
WAP to convert tuple of chars to string 
"""

In [25]:
def convertTuple(tup):
    str =  ''.join(tup)
    return str
  
tuple = ('K', 'u', 'n', 'a', 'l')
str = convertTuple(tuple)
print(str)

Kunal

In [ ]:
"""
40. WAP to convert a list of tuples into a dictionary
"""

In [26]:
def Convert(tup, di):
    di = dict(tup)
    return di
      
tups = [("a", 10), ("b", 12), ("c", 14), 
    ("d", 20), ("e", 25), ("f", 30)]
dictionary = {}
print (Convert(tups, dictionary))

{'a': 10, 'b': 12, 'c': 14, 'd': 20, 'e': 25, 'f': 30}

In [ ]:
"""
41. WAP to replace last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

"""

In [13]:

def changeEle(l,val):
    for ind,i in enumerate(l):
        temp=list(i)
        temp[-1]=val
        l[ind]=tuple(temp)
    return l
l1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print(changeEle(l1,100))

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
"""
42. WAP to remove an empty tuple(s) from a list of tuples.
"""

In [51]:
def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples
  
tuples = [(), ('a','15','8'), (), ('b', 'sita'), 
          ('c', 'd', '45'), ('',''),()]
print(Remove(tuples))

[('a', '15', '8'), ('b', 'sita'), ('c', 'd', '45'), ('', '')]

In [ ]:
"""
43. There is a tuple, each item represent name and marks of student. List Ex. [(Karthik, 78, 67, 93), (Sarthak, 81, 73, 92)]
	1. We need to identify first three toppers of the batch. Print their score and average.
	2. We need to get the topper in each subject
	3. We need to know te list of students failed in the any subject (passing marks = 40)
"""

In [ ]:
"""
44. WAP to convert of list of tuples to list of lists
"""

In [ ]:
test_list = [(1, 2), (3, 4), (5, 6)]
print("The original list of tuples : " + str(test_list))

res = [list(ele) for ele in test_list]
print("The converted list of list : " + str(res))

In [ ]:
"""
Sort the list of tuples by second item

"""

In [ ]:
def Sort_Tuple(tup):  
    tup.sort(key = lambda x: x[1]) 
    return tup 
tup = [('a', 10), ('b', 5), ('c', 20), ('d', 15)] 
print(Sort_Tuple(tup))

In [ ]:
"""
remove the tuples of length 3 from list

"""

In [52]:
test_list = [(4, 5,6), (4, ), (8, 6, 7), (3, 4, 6, 7)]
print([ele for ele in test_list if len(ele) != 3])

[(4,), (3, 4, 6, 7)]

In [ ]:
"""
48. WAP to create the dictionry and perform below steps 
	1. print elements from it in key value format using all methods of iteration
	2. update the elements from above dictionary
	3. delete elements 
	4. empty the directory
	5. get size of dictionary
	6. return and remove the value associsted with specific key 
	7. remove arbitary item from the dictionary
	8. get all keys from the dictionary
	9. get all values from dictionary
	10. get list of tuples from the dict and represent it in the key value pair
	11. create the copy of the list 
	12. Update the dictionary value 
	13. get dictionary with the specified keys and value
	14. filter the dictionary 
"""

In [15]:
d = {1:"A",2:"b",3:"c"}
print(d)

from collections import OrderedDict
od = OrderedDict({1:"a",2:"b",3:"c",4:"d"})
for i in od:
    print(i)

for i in od.values():
    print(i)

for i, j in od.items():
    print(i,":",j)
od.update({5:"e"})
print(od)
od.pop(5)
print(od)
d.clear()
print(d)
import sys 
print(sys.getsizeof(od))

{1: 'A', 2: 'b', 3: 'c'}
1
2
3
4
a
b
c
d
1 : a
2 : b
3 : c
4 : d
OrderedDict([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')])
OrderedDict([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])
{}
264

In [ ]:
"""
49. explore the function setdefault
"""

In [17]:
Dictionary1 = { 'A': 'Kunal', 'B': 'Agrawal'}

Third_value = Dictionary1.setdefault('C')
print("Dictionary:", Dictionary1)
print("Third_value:", Third_value)
Fourth_value = Dictionary1.setdefault('D', 'agrawal')
print("Dictionary:", Dictionary1)
print("Fourth_value:", Fourth_value)

Dictionary: {'A': 'Kunal', 'B': 'Agrawal', 'C': None}
Third_value: None
Dictionary: {'A': 'Kunal', 'B': 'Agrawal', 'C': None, 'D': 'agrawal'}
Fourth_value: agrawal

In [ ]:
"""
50. WAP to get occurances of each letter present in  given string 
"""

In [23]:
inp_str = "kunalagrawal"
freq = {} 
for ele in inp_str: 
    if ele in freq: 
        freq[ele] += 1
    else: 
        freq[ele] = 1
print(freq)

{'k': 1, 'u': 1, 'n': 1, 'a': 4, 'l': 2, 'g': 1, 'r': 1, 'w': 1}

In [ ]:
"""
51. There is a dict, each item represent name and marks of student.
	1. We need to identify first three toppers of the batch. Print their score and average.
	2. We need to get the topper in each subject
	3. We need to know te list of students failed in the any subject (passing marks = 40)
	4. Display marks of student by taking student name as input from console
"""

In [17]:
def failcheck(x):
    for i in range(1,4):
        if(x[i]<40):
            return True
    return False
def find4(l):
    l.sort(key= lambda x : x[1]+x[2]+x[3],reverse=True)
    for i in range(1,4):
        print("max of subject {} is {}".format(i,max(l,key=lambda x:x[i])))
    print(list(filter(failcheck, l)))

In [ ]:
"""
52. Ways to sort list of dictionaries by values in Python  Using itemgetter
"""

In [28]:
from operator import itemgetter

lis = [{ "name" : "Nandini", "age" : 20}, 
{ "name" : "Manjeet", "age" : 20 },
{ "name" : "Nikhil" , "age" : 19 }]
  
print ("The list printed sorting by age: ")
print (sorted(lis, key=itemgetter('age')))
print ("\r")
print ("The list printed sorting by age and name: ")
print (sorted(lis, key=itemgetter('age', 'name')))
print ("\r")
print ("The list printed sorting by age in descending order: ")
print (sorted(lis, key=itemgetter('age'),reverse = True))

The list printed sorting by age:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]

The list printed sorting by age and name:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nandini', 'age': 20}]

The list printed sorting by age in descending order:
[{'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}, {'name': 'Nikhil', 'age': 19}]

In [ ]:
"""
53. Ways to sort list of dictionaries by values in Python  Using lambda function
"""

In [ ]:
mylis = [{"name":"a","age":17},
{"name":"b","age":15},
{"name":"c","age":20}]
print("list",mylis)
print("sorted list",sorted(mylis,key = lambda i:i['age']))
print("sorted list in reverse",sorted(mylis, key = lambda i:i['age'],reverse=True))

In [ ]:
"""
54. WAP to merge two Dictionaries
"""

In [32]:
def Merge(dict1, dict2):
    return(dict2.update(dict1))
     
dict1 = {'a': 10, 'b': 8}
dict2 = {'d': 6, 'c': 4}
print(Merge(dict1, dict2))
print(dict2)

None
{'d': 6, 'c': 4, 'a': 10, 'b': 8}

In [ ]:
"""
55. Convert Key-Value list Dictionary to List of Lists
"""

In [34]:
test_dict = {'a' : [1, 3, 4], 'b' : [7, 6], 'c' : [4, 5]}
print("The original dictionary is : " + str(test_dict))
res = []
for key, val in test_dict.items():
    res.append([key] + val)
print("The converted list is : " + str(res))

The original dictionary is : {'a': [1, 3, 4], 'b': [7, 6], 'c': [4, 5]}
The converted list is : [['a', 1, 3, 4], ['b', 7, 6], ['c', 4, 5]]

In [ ]:
"""
56.Convert List to List of dictionaries
"""

In [ ]:
"""
Convert Lists of List to Dictionary
"""

In [ ]:
test_list = [{'Nikhil' : 17, 'Akash' : 18, 'Akshat' : 20},
             {'Nikhil' : 21, 'Akash' : 30, 'Akshat' : 10},
             {'Nikhil' : 31, 'Akash' : 12, 'Akshat' : 19}]
  
print("The original list is : " + str(test_list))
res = []
for idx, sub in enumerate(test_list, start = 0):
    if idx == 0:
        res.append(list(sub.keys()))
        res.append(list(sub.values()))
    else:
        res.append(list(sub.values()))
print("The converted list : " + str(res))

In [ ]:
"""
58. Convert List of Dictionaries to List of Lists
"""

In [1]:
test_list = [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]
print("The original list is : " + str(test_list))

res = dict()
for sub in test_list:
    res[tuple(sub[:2])] = tuple(sub[2:])
 
print("The mapped Dictionary : " + str(res))

The original list is : [['a', 'b', 1, 2], ['c', 'd', 3, 4], ['e', 'f', 5, 6]]
The mapped Dictionary : {('a', 'b'): (1, 2), ('c', 'd'): (3, 4), ('e', 'f'): (5, 6)}

In [ ]:
"""
59. Convert key-values list to flat dictionary

"""

In [2]:
from itertools import product
  
# initializing dictionary
test_dict = {'month' : [1, 2, 3],
             'name' : ['Jan', 'Feb', 'March']}
print("The original dictionary is : " + str(test_dict))
res = dict(zip(test_dict['month'], test_dict['name']))
print("Flattened dictionary : " + str(res))

The original dictionary is : {'month': [1, 2, 3], 'name': ['Jan', 'Feb', 'March']}
Flattened dictionary : {1: 'Jan', 2: 'Feb', 3: 'March'}

In [ ]:
"""
Convert a list of Tuples into Dictionary

"""

In [3]:
list_1=[("Nakul",93), ("Shivansh",45), ("Samved",65),
           ("Yash",88), ("Vidit",70), ("Pradeep",52)]
dict_1=dict()
  
for student,score in list_1:
    dict_1.setdefault(student, []).append(score)
print(dict_1)

{'Nakul': [93], 'Shivansh': [45], 'Samved': [65], 'Yash': [88], 'Vidit': [70], 'Pradeep': [52]}

In [ ]:
"""
61. Convert Nested dictionary to Mapped Tuple
"""

In [4]:
test_dict = {'gfg' : {'x' : 5, 'y' : 6}, 'is' : {'x' : 1, 'y' : 4},
                                      'best' : {'x' : 8, 'y' : 3}}
print("The original dictionary is : " + str(test_dict))

res = [(key, tuple(sub[key] for sub in test_dict.values())) 
                               for key in test_dict['gfg']]
   
print("The grouped dictionary : " + str(res))

The original dictionary is : {'gfg': {'x': 5, 'y': 6}, 'is': {'x': 1, 'y': 4}, 'best': {'x': 8, 'y': 3}}
The grouped dictionary : [('x', (5, 1, 8)), ('y', (6, 4, 3))]

In [ ]:
"""
63. CReate a dictionary/ nested  dict of which will held books name, author name, price, year of publishing, num pages, copies sold, rating, category, (chapter, number of pages per chapter, number of characters), (publish name, publisher address), location of availability
Create data using faker model if possible or have your own data created for this exercise.
Category : Fiction, nonfiction, scifi, economy, sports, mythology

	1. Get number of boks published by each auhor in each year and nuber of copies sold 
	2. Get total payment received by each author per book and total amount of money he earned at the end 
	3. Get the location where maximum boks are available 
	4. Get name of the publishe who have published max number of books 
	5. Get name of the authos who has developed maximum characters 
	6. Get the name of best book considering the copies sold and rating, Get the best book from each catrgory.
	7. Sort the dict by author name and year of publishing
	8. Sort the dict by copies sold and rating 
"""